<div id="<%= dom_id vacation %>">
  <p>
    <strong>Explanation:</strong>
    <%= vacation.explanation %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vacation.user.fullname %>
  </p>

  <p>
    <strong>Starting date:</strong>
    <%= vacation.starting_date %>
  </p>

  <p>
    <strong>Ending date:</strong>
    <%= vacation.ending_date %>
  </p>

</div>
