= form_with(model: @person, class:"ui form")  do |form|
  - if @person.errors.any?
    .ui.red.message 
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.each do |error|
          %li
            = error.full_message
  .inline.fields
    .field
      = form.label t(:name),  autofocus: true 
    .five.wide.field
      = form.text_field :name, {"data-controller": "focus"}
    .field 
      = form.submit class: "ui green button"
    .field 
      = link_to "Cancel", people_path, class: "ui red button"
