<% @people.each do |person| %>

<tr>
  <td>
    <div class="ui right aligned"><%= link_to "#{person.id}", person %></div>
  </td>
  <td>
    <div class="ui aligned"><%= person.name%> </div>
  </td>
  

  <td class="right aligned">
    <div class="ui label" data-rating="3" data-max-rating="3">
    <%=person.created_at.strftime("%d.%m.%Y %H.%M")%></div>
  </td>

  <td class="right aligned ">
    <div class="ui label">
      <%=person.updated_at.strftime("%d.%m.%Y %H.%M")  %>
    </div>
  </td>
  <%= render "layouts/shared/actions", resource: person %>
</tr>
<% end %>