<p style="color: green"><%= notice %></p>
<%= turbo_frame_tag @person do %>
  <%= render @person %>
  <div>
    <%= link_to "Edit this person", edit_person_path(@person) %> |
    <%= link_to "Back to people", people_path, "data-turbo-frame": "_top" %>

    <%= button_to "Destroy this person", @person, method: :delete %>
  </div>
<% end %>
