<% @phisycal_statuses.each do |phisycal_status| %>

<tr>
  <td>
    <div class="ui right aligned"><%= link_to "#{phisycal_status.id}", phisycal_status %></div>
  </td>
  <td>
    <div class="ui aligned"><%= phisycal_status.name%> </div>
  </td>
  

  <td class="right aligned">
    <div class="ui label" data-rating="3" data-max-rating="3">
    <%=phisycal_status.created_at.strftime("%d.%m.%Y %H.%M")%></div>
  </td>

  <td class="right aligned ">
    <div class="ui label">
      <%=phisycal_status.updated_at.strftime("%d.%m.%Y %H.%M")  %>
    </div>
  </td>
  <%= render "layouts/shared/actions", resource: phisycal_status %>

</tr>
<% end %>