.ui.red.segment
  %h3.ui.dividing.header Bu kayıda ilişkin üstveriler
  %p
    %strong Id: 
    = metadatum.id
  %p
    %strong= "#{t(:fond)}:"
    = metadatum.fond.name
  %p
    %strong= "#{t(:organization_number)}:"
    = metadatum.organization_code
  %p
    %strong= "#{t(:box)}:"
    = metadatum.box
    \/
    - if metadatum.folder
      %strong= "#{t(:folder)}:"
      = metadatum.folder
      \/
    %strong= "#{t(:order)}:"
    = metadatum.order
  %p
    %strong= "#{t(:starting_date)}:"
    %span
      = metadatum.starting_date
    - if metadatum.ending_date
      %strong Ending Date:
      = metadatum.ending_date
  %h3= t('summary')
  %p.ui.secondary.segment
    /%strong= t('Summary')
    = metadatum.summary
  %p
    = link_to t("edit_record_metadatum"), edit_record_metadatum_path(metadatum), {class: "ui red tiny button"}