<p style="color: green"><%= notice %></p>

<%= render @special_number_name %>

<div>
  <%= link_to "Edit this special number name", edit_special_number_name_path(@special_number_name) %> |
  <%= link_to "Back to special number names", special_number_names_path %>

  <%= button_to "Destroy this special number name", @special_number_name, method: :delete %>
</div>
