<% @toponyms.each do |toponym| %>
<tr>
  <td>
    <div class="ui right aligned"><%= link_to "#{toponym.id}", toponym %></div>
  </td>
  <td>
    <div class="ui aligned"><%= toponym.name%> </div>
  </td>

  <td class="right aligned">
    <div class="ui label" data-rating="3" data-max-rating="3">
    <%=toponym.created_at.strftime("%d.%m.%Y %H.%M")%></div>
  </td>

  <td class="right aligned ">
    <div class="ui label">
      <%=toponym.updated_at.strftime("%d.%m.%Y %H.%M")  %>
    </div>
  </td>
  <%= render "layouts/shared/actions", resource: toponym %>
</tr>
<% end %>