<tr id='<%= dom_id toponym %>'>

  <td><%= toponym.id %></td>
  <td><%= toponym.name %></td>
  <td><%=l toponym.created_at, format: :short %></td>
  <td><%=l toponym.updated_at, format: :short %></td>
  <td><%= link_to "Edit", edit_toponym_path(toponym) ,class: "ui tiny right floated green button",
   data:{turbo_frame: "_top" }%>
    <%= link_to toponym , class: "ui tiny right floated red button", data: { 
          turbo_method: :delete, 
          turbo_confirm: "Are you sure?"
           }  do %>      
          Sil
        <% end %>
  </td>

</tr>




