<%= turbo_frame_tag "toponym_#{toponym.id}" do %>
<div class="ui segment">
    <div class="header">
    <b>Name:</b> <%= toponym.name %>
    </div>
    <div>
    <b>Id:</b><%= toponym.id %>
    </div>
    <div>
     <b>Created at:</b>
    <%= toponym.created_at %>
    </div>
    <div>
    <b>Updated at:</b>
    <%= toponym.updated_at %>
    </div>
    <div>
        <%= link_to "Edit", edit_toponym_path(toponym) ,class: "ui basic green button"%>
        <%= link_to toponym , class: "ui basic red button", data: { 
          turbo_method: :delete, 
          turbo_confirm: "Are you sure?"
           }  do %>      
          Sil
        <% end %>
</div>
</div>
<% end %>