<tr>
<%= turbo_frame_tag "toponym_#{toponym.id}" do %>
  
    <h3><a href="#" class="header"><%= toponym.name %></a></h3>
    
    <b>Id:</b><%= toponym.id %>
    
     <b>Created at:</b>
    <%= toponym.created_at %>
    
    <b>Updated at:</b>
    <%= toponym.updated_at %>
    
        <%= link_to "Edit", edit_toponym_path(toponym) ,class: "ui tiny right floated green button"%>
        <%= link_to toponym , class: "ui tiny right floated red button", data: { 
          turbo_method: :delete, 
          turbo_confirm: "Are you sure?"
           }  do %>      
          Sil
        <% end %>
    
<% end %>
</tr>
