<p style="color: green"><%= notice %></p>
<turbo-frame id="toponym_flash_messages">

</turbo-frame>
<h1><%= t(:toponyms) %></h1>
<p>
  <%= link_to t(:new_toponym), new_toponym_path, 
  data: { turbo_frame: dom_id(Toponym.new) }, class:"ui button teal small"%>
</p>

<%= turbo_frame_tag Toponym.new %>

<%= search_form_for @q, as: :term, class:"ui form" do |f| %>
  <div class="ui action input">
    <%= f.search_field :name_cont, class:"field", placeholder: :name_cont %>
    <%= f.button "Ara", class:"ui primary button"%>
  </div>
<% end %>
<p>
  <% unless params[:term].nil? %> Found toponyms: <%= @q.result.size  %> <% end %>
</p>
<%= turbo_frame_tag "toponyms" do %>
  <div id="total">
    <%== pagy_nav(@pagy) %>
    <%== pagy_info(@pagy) %>
  </div>

  <div class="ui celled five column grid">
    <div class="row header">
      <div class="column">Id</div>
      <div class="column">name</div>
      <div class="column">created at</div>
      <div class="column">updated</div>
      <div class="column">actions</div>
    </div>
  </div>
  <div id="toponyms_list" class="ui celled five column grid">
    <%= render @toponyms %>
  </div>

<% end %>