<h1>show#user</h1>

<h2> Email: <%= @user.email %></h2>
<h3>Role: <span class="ui red label"><%= @user.role%></span></h3>
<p> <b>Joined at:</b> <%= @user.created_at%></p>
<p> <b>Sign in count:</b> <%= @user.sign_in_count%></p>
<p> <b>Last sign in at:</b> <%= @user.last_sign_in_at%></p>

