%div{"data-controller": "dropdown"}
%div{}

= simple_form_for @record_metadatum, html: {class:""} do |f|
  %h4.ui.dividing.header= t('access_identifiers').titleize
  .field
    = f.association :fond, input_html: { class: "select2 basic", id: "fond-metadatum-dropdown", style: "width: 100%", "data-controller": "fond-metadatum", "data-turbo": "false"}
  %div.grouped.fields
  .ui.form
    .four.fields
      .field
        = f.input :organization_code
      .field 
        = f.input :box
      .field 
        = f.input :folder
      .field 
        = f.input :order
  %h4.ui.dividing.header= t('special_access_numbers').titleize
  .ui.form
    %div{"data-controller": "cocoon"}
      = f.simple_fields_for :special_numbers do |special_number_form|
        = render 'special_number_fields', :form => special_number_form
      = link_to_add_association  t('add_number'), f, :special_numbers, form_name: 'form', class:"ui primary button"
  %h4.ui.dividing.header= t('detailed_information').titleize
  .ui.form
    .two.fields
      .field
        = f.input :summary
      .field
        = f.input :explaination
    .two.fields 
      .field
        = f.input :starting_date, as: :date, html5: true
      .field 
        = f.input :ending_date, as: :date, html5: true 
  .field
    = f.association :subjects, collection: Subject.find(@record_metadatum.subject_ids), input_html: { class: "", id: "multiple-subjects", "data-controller": "subjects-multiple-select", style: "width: 100%"}
    %i.ui.plus.icon= link_to t("add"), new_subject_path, data: { turbo_frame: dom_id(Subject.new) } 
  .field
    = f.association :people, collection: Person.find(@record_metadatum.person_ids), input_html: { class: " ", multiple: "multiple", id: "multiple-people", "data-controller": "people-metadatum", style: "width: 100%" }
    %i.ui.plus.icon= link_to t("add"), new_person_path, data: { turbo_frame: dom_id(Person.new) } 
  .ui.form.field
    = turbo_frame_tag "person_flash_messages"
    = turbo_frame_tag "new_person"
  .field
    = f.association :organization, input_html: { class: "select2 basic", id: "organizations-dropdown", "data-controller": "organizations-multiple-select", style: "width: 100%"}
  .field
    = f.association :toponyms, collection: Toponym.find(@record_metadatum.toponym_ids), input_html: { class: "", id: "multiple-toponyms", multiple: "multiple", "data-controller": "toponyms-multiple-select", style: "width: 100%"}
    %i.ui.plus.icon= link_to t("add"), new_toponym_path, data: { turbo_frame: dom_id(Toponym.new) } 
  .ui.form.field
    = turbo_frame_tag "toponym_flash_messages"
    = turbo_frame_tag "new_toponym"
  .ui.form
    .four.fields
      .field
        .grouped.fields{"data-controller": "checkbox"}
          = f.association :languages, as: :check_boxes, input_html: { class: "ui"}
      .field
        .grouped.fields{"data-controller": "checkbox"}
          = f.association :document_types, as: :check_boxes, input_html: { class: "hidden" } 
      .field
        .grouped.fields{"data-controller": "checkbox"}
          = f.association :privacy, as: :radio_buttons, input_html: { class: "hidden" }
      .field
        .grouped.fields{"data-controller": "checkbox"}
          = f.association :phisycal_status, as: :radio_buttons, input_html: { class: "hidden " }
  = f.button :submit, class: "ui green button"
