<div data-controller="dropdown"></div>
<div data-controller="record-metadatum"></div>

<%= simple_form_for @record_metadatum do |f| %>
  <%= f.association :fond, input_html: { class: "select2 basic"}%>
  <%= f.input :organization_code%>
  <%= f.input :box%>
  <%= f.input :folder%>
  <%= f.input :order%>
  <div>
  <%= f.simple_fields_for :special_numbers do |special_number_form| %>
    <%= render 'special_number_fields', :form => special_number_form  %>
  <% end %>
     <%= link_to_add_association 'Add Number', f, :special_numbers, form_name: 'form', class:"ui primary button"%>
  </div>
  <%= f.input :summary %>
  <%= f.input :explaination %>
  <%= f.input :starting_date, as: :date, html5: true  %>
  <%= f.input :ending_date, as: :date, html5: true  %>
  <%= f.association :subjects, input_html: { class: "ui fluid multiple search selection dropdown" } %>
  <%= f.association :people, input_html: { class: "select2 multiple", multiple: "multiple" } %>
  <%= f.association :languages, as: :check_boxes, input_html: { class: "" } %>
  <%= f.association :organization, input_html: { class: "ui fluid multiple search selection dropdown" } %>
  <%= f.association :toponyms, input_html: { class: "ui fluid multiple search selection dropdown" } %>
  <%= f.association :document_types, as: :check_boxes, input_html: { class: "" } %>
  <%= f.association :privacy, as: :radio_buttons, input_html: { class: "" } %>
  <%= f.association :phisycal_status, as: :radio_buttons, input_html: { class: "ui radio " } %>

  <%= f.button :submit %>
<% end %>




