<div id="<%= dom_id metadatum %>" class=" item">
            <div class="image">
              <% if metadatum.record_attachment %>
                <% file = metadatum.record_attachment.images.first %>
                <%= image_tag file.preview(resize_to_limit: [50, 50]).processed if file.previewable? %>
              <% end %>
            </div>
            <div class="content">
                <a class="header"><%=metadatum.summary%></a>
                <div class="meta">
                    <span class="ui black label"><%= t('fond').titleize %>: </strong> <%= metadatum.fond.name %> </span>
                </div>
                <div class="description">
                  <p>
                    <% special_nums_metadata = metadatum.special_numbers.map { |no| "#{no.number_type} - #{no.value} " }%>
                    <%= special_nums_metadata.join("/ ")%> 
                  </p>
                  <strong><%= t('starting_date').titleize%>: </strong> 
                  <%=l metadatum.starting_date, format: :short %> -
                  <strong><%= t('ending_date').titleize%>: </strong> 
                   <%=l(metadatum.ending_date, format: :short) if metadatum.ending_date %>
                </div>

                <div class="extra">
                    <span>Konular:</span> <% metadatum.subjects.each do |subject| %> <div class="ui red tag tiny label"><%= subject.name%></div><% end %>

                    <p><div class="ui label">IMAX</div></p>
                    <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                    <%= link_to  file , target: :_blank, class:"ui right floated primary tiny button" do %><i class="folder open  icon"></i>PDF<% end %>
                </div>
            </div>
</div>