<tr>
   <td class="collapsing">
    <div class="ui right aligned">
      <%= link_to record_metadatum do %>
      <%= record_metadatum.id %>
        <i class="folder open icon "></i>
      <% end %>
    </div>
  </td>
  <td>
    <div class="ui right aligned"><%#= link_to record_metadatum.fond, fond_path(record_metadatum.fond) %></div>
  </td>
  <td>
    <div class="ui right aligned"><%#= record_metadatum.organization_code%></div>
  </td>
  <td class="right aligned">
    <%#=record_metadatum.box%>
  </td>
  <td>
    <div class="right aligned" data-rating="3" data-max-rating="3">
    <%#=record_metadatum.folder%></div>
  </td>
  <td class="right aligned">
    <%#=record_metadatum.order%>
  </td>
  <td class="right aligned">
    <% if record_metadatum.record_attachment %> <%= record_metadatum.record_attachment.images.count%> <% end %>
  </td>
  <td>
  <div class="left aligned">
    <%= record_metadatum.summary[..200]%>
    </div>
  </td>
  <td class="collapsing">
    <span>
      <%= link_to  record_metadatum do %>
        <i class="large folder open icon "></i>
      <% end %>
    </span>
    <span>
      <%= link_to  edit_record_metadatum_path record_metadatum.id do %>
        <i class="large orange edit icon "></i>
      <% end %>
    </span>
    <span>    
        <%= link_to record_metadatum ,  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  do %>      
          <i class="red large remove icon "></i>
        <% end %>
    </span>
  </td>
</tr>
    