<div id="<%= dom_id record_metadatum %>" class="ui stackable two column  grid">
  <div class="six wide column">
  <h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
    <%= t('record_metadata')%>
  </h4>
  <table class="ui definition table">
    <tbody>
      <tr>
        <td class="two wide column"><%= t('fond').titleize %></td>
        <td><%= record_metadatum.fond.name %></td>
      </tr>
      <tr>
        <td>Nums</td>
        <td><% special_nums_metadata = record_metadatum.special_numbers.map { |no| "#{no.number_type} - #{no.value} " }%>
      <%= special_nums_metadata.join("/ ")%> </td>
      </tr>
      <tr>
        <td>Yer</td>
        <td><strong><%= t('box').titleize%>: </strong>   <%= record_metadatum.box %> /
      <% if record_metadatum.folder%>
        <strong><%=t('folder').titleize %>: </strong><%= record_metadatum.folder %> /
      <% end %>
        <strong><%= t('order').titleize%>: </strong>   <%= record_metadatum.order %></td>
      </tr>
      <tr>
        <td><%= t('organization_code').titleize%></td>
        <td><%=record_metadatum.organization_code%></td>
      </tr>
      <tr>
        <td><%= t('dates') %></td>
        <td><%= "#{l record_metadatum.starting_date, format: :short}" %> <% if record_metadatum.ending_date %> - <%= l record_metadatum.ending_date, format: :short %> <% end %>  </td>
      </tr>
      <tr>
        <td><%=  t('organization').titleize %></td>
        <td><%= record_metadatum.organization.name %></td>
      </tr>
      <tr>
        <td><%=  t('languages').titleize %></td>
        <td><% record_metadatum.languages.each do |language| %>
              <span class="ui  basic pink  label">
                <%= language.name %>
              </span>
              <% end %>       
        </td>
      </tr>
      <tr>
      <td><%=t('document_types').titleize %></td>
      <td><% record_metadatum.document_types.each do |document_type| %>
          <span class="ui basic violet  label">
          <%= document_type.name %>
          </span>
        <% end %> </td>
      </tr>
      <tr>
        <td><%=t('privacy').titleize %></td>
        <td><%if record_metadatum.privacy %> <%= record_metadatum.privacy.name %><% end %></td>
      </tr>
      <tr>
        <td><%= t('subjects').humanize %></td>
        <td><% record_metadatum.subjects.each do |subject| %>
          <span class="ui basic blue label"><i class="tag icon"></i><%= subject.name%></span>
          <% end %></td>
      </tr>
      <tr>
        <td><%= t('toponyms').titleize %></td>
        <td> <% record_metadatum.toponyms.each do|toponym| %>
        <span class="ui basic orange  label">
        <i class="map marker alternate icon"></i>
        <%= toponym[:name] %>
        </span>
      <% end %></td>
      </tr>
      <tr>
        <td><%= t('summary').titleize %></td>
        <td> <%= record_metadatum.summary %></td>
      </tr>
      <tr>
        <td><%= t('explaination').titleize %></td>
        <td> <%= record_metadatum.explaination %></td>
      </tr>
      
      <% if  !record_metadatum.record_attachment.nil? && !record_metadatum.record_attachment.images.empty?  %>
      <tr>
        <td><%= t('file_name').titleize %></td>
        <td> <%= record_metadatum.record_attachment.images.first.filename %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
            <%# =image_tag @image.representation()%>
            <%#= image_tag @image.representation(resize_to_limit: [500, 500]).processed if @image.previewable? %>
            <%#= image_tag @image.variant(resize_to_limit: [500, 500], colourspace: "b-w", rotate: -90, gaussblur: 2).processed if @image.variable? %>
            <%# target = Vips::Target.new_to_file('app/assets/images/watermarking/k3.jpg') %>
            <%# water = Vips::Image.text('sercan').jpegsave_target(target) %>
            <%#= image_tag "watermarking/k2.jpg" %>
            <%#= image_tag @image.variant(resize_to_limit: [800, 800],  composite: [overlay: ImageProcessing::Vips::Image.load_image("app/assets/images/watermarking/k2.jpg"), gravity: "south-east"] ).processed if @image.variable? %>
  <% unless record_metadatum.audits.empty? %>
    <h4 class="ui horizontal divider header"> Info</h4>
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <i class="pencil icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            <%=  record_metadatum.audits.last.user.to_s %> <span class="custom last action"> <%=  record_metadatum.audits.last.action %> </span> record. 
            <div class="date"><%=l  record_metadatum.audits.last.created_at, format: :long%></div>
            <%= link_to audit_record_metadatum_path do %>
              <%= t("more") %> <i class="external alternate icon"></i>
            <% end %>   
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div> <!-- column -->
  
    <div class="nine wide column">
    <% unless record_metadatum.record_attachment.nil? || record_metadatum.record_attachment.images.nil?  %>
      <h4 class="ui horizontal divider header">
        <i class="file pdf icon"></i>
        <%= t('record_attachment') %>
      </h4>
      <% record_metadatum.record_attachment.images.each_with_index do |file, index| %>
        <iframe  src="<%= file.url expires_in: 30 ,disposition: :inline %>" width="100%" height="750" style="border: none;"></iframe>
      <div class="item">
        <div class="ui small image">
          <%#= image_tag file.preview(resize_to_limit: [250, 250]).processed if file.previewable? %>
          <%#= ImageProcessing::Vips.valid_image?(file.url) %>
        </div>
        <div class="content">
          <%= link_to rails_blob_path(file, disposition: "attachment"), class: "header" do %>
            <span class="ui teal button"> <i class="download icon"></i>Kaydet</span>
          <% end %>
          <%= link_to  file , target: :_blank, class: "ui orange button" do %><i class="folder open  icon"></i>Yeni sekmede aç<% end %>
        <div class="description">
                <%#= link_to "aç", ImageProcessing::Vips.source(file.url(expires_in: 30 ,disposition: :inline)).composite(watermark, mode: "over", gravity: "south-east", offset: [10, 10],).call() %>
        </div>
       </div>
      </div>
    </div>
       <% end %>
    <% end %>
    </div>
    <div class="one wide column"></div>
</div>