%h1 Auidts 
%table.ui.striped.table
  %thead
    %tr
      %th version
      %th user
      %th auditable_type
      %th action
      %th audited_changes
      %th created_at
      %th activity
  %tbody
    - @record_metadatum.audits.descending.each do |audit|
      %tr
        %td=audit.version
        %td=User.find(audit.user_id)
        %td=audit.auditable_type
        %td=audit.action
        %td=audit.audited_changes
        %td= l audit.created_at, format: :long
        %td
          - audit.audited_changes.flatten.each_with_index do |item, index|
            - if index % 2 == 1
              %p=  "#{item.join(" ==> ")}"
            - else 
              %b=  "#{item}"

      
            