<%= form_with url: :root, method: :get do |form| %>
  <div class="ui fluid action input">
    <%= form.text_field :query, value: params[:query], placeholder: "Örn. muhabere evrakı / muhabere evra*" %>
    <%= form.select :field, RecordMetadatum.fields_and_related_model_fields.map {|attr| [t(attr), attr] }, {prompt: 'select', selected: params[:field], include_blank: true }, {class: "ui  selection dropdown"} %>
    <div class="ui input">
      <%= form.number_field :updated_at %>
    </div>
    <div class="ui ">
      <%= form.submit "Ara", class: "ui primary button"%>

      <%= render "subjects", subjects: @subjects %>
     <% end %> 
    </div>
  </div>