<%= notice %>
<%= alert %>
<%= console %>
<% if current_user %>
  <h1>Tüm fonlarda ve belgelerde arayın... <%= link_to "?", :search_clues %> </h1>
  <% unless params[:query].nil? %>
  <div class="ui raised segment"><b>Yapılan sorgu:</b> <i><%=params[:query]%></i>
    <p><b>Bulunan kayıt sayısı:</b> <%= @search.total %></p>
  </div>
  <% end %>
  <div class="ui grid">
    <div class="twelve wide column">
      <%= render "search" %>
        <!-------------------------------------------------------------------------------->

        <h2>Son eklenen belgeler</h2>
  <div class="ui yellow message">
    <i class="star icon"></i>
    To make the entire content of an item link, check out the link variation below
  </div>
  <div class="ui items">
    <% @record_metadata.each do |metadata| %>
   
      <div class="item">
        <% if !metadata.record_attachment.nil? && !metadata.record_attachment.images.empty? %>
          <% file = metadata.record_attachment.images.first %>
          <a class="ui tiny image">
            <% begin %>
              <%= image_tag file.preview(resize_to_limit: [150, 150]).processed if file.previewable? %>
            <% rescue => e %>
              <div class="ui placeholder">
                <div class="image"></div>
              </div>
            <% end %>
          </a>
        <% else %>
          <a class="ui tiny image">
            <div class="ui placeholder">
                <div class="image"></div>
              </div>
          </a>
        <% end %>
        <div class="content">
          <a class="header">
            <%= t(metadata.fond.class.name.downcase) %> : <%= metadata.fond %>
          </a>
          <div class="description">
            <p>
               <%= t('summary').capitalize %> : <%= metadata.summary[..300]... %>
            </p>
            <p>
              <%= t('subjects').capitalize %> : 
              <% metadata.subjects.each  do |subject| %>
                <%= "#{subject.name}, " %>
              <% end %>
            </p>
          </div>
          <div class="extra">
            Eklenme tarihi 
            <%= metadata.created_at  %>
            <%= link_to t("open"), metadata, class: "ui tiny primary floated button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @record_metadata %>
  <p>
    <%= link_to "daha fazla", record_metadata_path, class: "ui tiny yellow button" %>
  </p>




    </div>
      <div class="four wide column" >
      <h3><%= t(:subjects) %></h3>
        <% @search.facet(:subjects).rows.each do |facet| %>
          <li class="<%= is_filter_active?(url_for(query: params[:query], subjects: facet.value, toponyms: params[:toponyms])) %>"><%= link_to facet.value, url_for(query: params[:query], subjects: facet.value, toponyms: params[:toponyms]) %> <%= facet.count %></li> 
        <% end %> 
      <h3 data-controller="homex"><%= t(:toponyms) %></h3>
          <% @search.facet(:toponyms).rows.each do |facet| %>
          <li class="<%= is_filter_active?(url_for(query: params[:query], toponyms: facet.value, subjects: params[:subjects])) %>"><%= link_to facet.value, url_for(query: params[:query], toponyms: facet.value, subjects: params[:subjects]) %> <%= facet.count %></li> 
          <% end %> 
        </div>
    </div><!-- row -->
  </div><!-- grid -->
    </div>
<% end %>