<%= notice %>
<%= alert %>
<%#= console %>
<% if current_user %>
  <h1>Tüm fonlarda ve belgelerde arayın...</h1>
  <h4>Search size: <%= @search.total %></h4>
  <div class="ui grid">
  <div class="row">
    <div class="twelve wide column">
      <%= form_with url: :root, method: :get do |form| %>
        <%= form.label :query, "Search for:" %>
        <%= form.text_field :query, value: params[:query] %>
        <%= form.submit "Search" %>
      <% end %> 
    </div>
      <div class="four wide column">
        <h3><%= t(:subjects) %></h3>
        <% @search.facet(:subjects).rows.each do |facet| %>
          <li class="<%= is_filter_active?(url_for(query: params[:query], subjects: facet.value, toponyms: params[:toponyms])) %>"><%= link_to facet.value, url_for(query: params[:query], subjects: facet.value, toponyms: params[:toponyms]) %> <%= facet.count %></li> 
        <% end %> 
      </div>
    </div>
    <div class="row">
    <div class="twelve wide column">
    </div>
      <div class="four wide column">
      <h3><%= t(:toponyms) %></h3>
          <% @search.facet(:toponyms).rows.each do |facet| %>
          <li class="<%= is_filter_active?(url_for(query: params[:query], toponyms: facet.value, subjects: params[:subjects])) %>"><%= link_to facet.value, url_for(query: params[:query], toponyms: facet.value, subjects: params[:subjects]) %> <%= facet.count %></li> 
          <% end %> 
        </div>
    </div><!-- row -->
  </div><!-- grid -->
   

  <h2>Son eklenen belgeler</h2>
  <div class="ui yellow message">
    <i class="star icon"></i>
    To make the entire content of an item link, check out the link variation below
  </div>
  <div class="ui items">
    <% @record_metadata.each do |metadata| %>
   
      <div class="item">
        <% if !metadata.record_attachment.nil? && !metadata.record_attachment.images.empty? %>
          <% file = metadata.record_attachment.images.first %>
          <a class="ui tiny image">
            <% begin %>
              <%= image_tag file.preview(resize_to_limit: [150, 150]).processed if file.previewable? %>
            <% rescue => e %>
              <div class="ui placeholder">
                <div class="image"></div>
              </div>
            <% end %>
          </a>
        <% else %>
          <a class="ui tiny image">
            <div class="ui placeholder">
                <div class="image"></div>
              </div>
          </a>
        <% end %>
        <div class="content">
          <a class="header">
            <%= "#{metadata.fond} fonu" %>
          </a>
          <div class="description">
            <p>
              <%= metadata.summary[..200]... %>
            </p>
            <p>
              Konular: 
              <% metadata.subjects.each  do |subject| %>
                <%= "#{subject.name}, " %>
              <% end %>
            </p>
          </div>
          <div class="extra">
            Eklenme tarihi 
            <%= metadata.created_at  %>
            <%= link_to t("open"), metadata, class: "ui tiny primary floated button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @record_metadata %>
  <p>
    <%= link_to "daha fazla", record_metadata_path, class: "ui tiny yellow button" %>
  </p>
<% else %>
  <h2>Log In</h2>
  <%= form_with(model: @user, url: new_user_session_path(@user), class: "form ui") do |f| %>
    <div class="field">
      <%= f.label :email %>
      <br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>
          (#{@minimum_password_length} characters minimum)
        </em>
      <% end %>
      <br/>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign In", class: "ui primary button" %>
    </div>
  <% end %>
<% end %>
