<%= notice %>
<%= alert %>

<% if current_user %>
<h1>Home page</h1>
  <p>
    You have successfully authenticaed with your user name
  </p>
<% else %>
    <h2>Log In</h2>
    <%= form_with(model: @user, url: new_user_session_path(@user), class: "form ui") do |f| %>      
    <%#= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="actions">
        <%= f.submit "Sign In", class: "ui primary button" %>
    </div>
    <% end %>
<% end %> 

