<% @document_types.each do |document_type| %>

<tr>
  <td>
    <div class="ui right aligned"><%= link_to "#{document_type.id}", document_type %></div>
  </td>
  <td>
    <div class="ui aligned"><%= document_type.name%> </div>
  </td>
  

  <td class="right aligned">
    <div class="ui label" data-rating="3" data-max-rating="3">
    <%=document_type.created_at.strftime("%d.%m.%Y %H.%M")%></div>
  </td>

  <td class="right aligned ">
    <div class="ui label">
      <%=document_type.updated_at.strftime("%d.%m.%Y %H.%M")  %>
    </div>
  </td>
  <%= render "layouts/shared/actions", resource: document_type %>

<% end %>