<div class="" >
  <div id="<%= dom_id document %>">
    <p>
      <strong>Summary:</strong>
      <%= document.summary[..30]+"..." %>
    </p>

    <p>
      <strong>Pub type:</strong>
      <%= "#{document.pub_type_id} - #{document.pub_type.name}" %>
    </p>

    <p>
      <strong>Languages:</strong>      
      <% document.languages.each{|language| %>
        <span class="ui teal tag label">
        <%= language[:name] %>
        </span>
      <% } %>      
    </p>

    <p>
      <strong>Organization:</strong>
      <% if document.organization_id %>
        <%= "#{ document.organization_id} - #{document.organization.name}" %>
      <% end %>
    </p>

    <p>
      <strong>Subject:</strong>
      <% document.subjects.each{|subject| %>
        <span class="ui teal tag label">
        <%= subject[:name] %>
        </span>
      <% } %>
      
    </p>

    <p>
      <strong>DocumentType:</strong>
      

      <% document.document_types.each{|document_type| %>
        <span class="ui orange tag label">
        <%= document_type[:name] %>
        </span>
      <% } %>  
    </p>

    <p>
      <strong>Toponym:</strong>
      <% if document.toponym_id %>
        <%= document.toponym.name %>
      <% end %>
    </p>

    <p>
      <strong>Privacy:</strong>
      <% if document.privacy_id %>
        <%= document.privacy.name %>
      <% end %>
    </p>
  </div>
</div>  