<tr>
  <td>
    <div class="ui right aligned"><%= link_to "#{document.id}", document %></div>
  </td>
  <td>
    <div class="ui right aligned"><%= document.organization_code%></div>
  </td>
  <td class="right aligned">
    <%=document.box%>
  </td>
  <td>
    <div class="right aligned" data-rating="3" data-max-rating="3">
    <%=document.folder%></div>
  </td>
  <td class="right aligned">
    <%=document.order%>
  </td>
  <td class="right aligned">
    <%=document.images.count%>
  </td>
  <td><%= document.summary%></td>
  <td>
    <span>
      <%= link_to  document do %>
        <i class="large folder open icon "></i>
      <% end %>
    </span>
    <span>
      <%= link_to  edit_document_path document.id do %>
        <i class="large orange edit icon "></i>
      <% end %>
    </span>
    <span>    
        <%= link_to document ,  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  do %>      
          <i class="red large remove icon "></i>
        <% end %>
    </span>

    
  
      
  
  </td>
</tr>
    