<div id="<%= dom_id document %>">
  <p>
    <strong>Summary:</strong>
    <%= document.summary %>
  </p>

  <p>
    <strong>Pub type:</strong>
    <%= "#{document.pub_type_id} - #{document.pub_type.name}" %>
  </p>

  <p>
    <strong>Language:</strong>
    <% if document.language_id %>
      <%= "#{ document.language_id} - #{document.language.name}" %>
    <% end %>
  </p>

  <p>
    <strong>Organization:</strong>
    <% if document.organization_id %>
      <%= "#{ document.organization_id} - #{document.organization.name}" %>
    <% end %>
  </p>

  <p>
    <strong>Subject:</strong>
    <% if document.subject_id %>
      <%= "#{ document.subject_id} - #{document.subject.name}" %>
    <% end %>
  </p>

</div>
