<div class="" >
  <div id="<%= dom_id document %>">
    <p>
      <strong>Summary:</strong>
      <%= document.summary[..30]+"..." %>
    </p>

    <p>
      <strong>Pub type:</strong>
      <%= "#{document.pub_type_id} - #{document.pub_type.name}" %>
    </p>

    <p>
      <strong>Languages:</strong>      
      <% document.languages.each{|language| %>
        <span class="ui teal  label">
        <%= language[:name] %>
        </span>
      <% } %>      
    </p>

    <p>
      <strong>Organization:</strong>
      <% if document.organization_id %>
        <%= "#{ document.organization_id} - #{document.organization.name}" %>
      <% end %>
    </p>

    <p>
      <strong>Subject:</strong>
      <% document.subjects.each{|subject| %>
        <span class="ui teal tag label">
        <%= subject[:name] %>
        </span>
      <% } %>      
    </p>

    <p>
      <strong>DocumentTypes:</strong>
      <% document.document_types.each{|document_type| %>
        <span class="ui orange  label">
        <%= document_type[:name] %>
        </span>
      <% } %>  
    </p>

    <p>
      <strong>Toponyms:</strong>
      <% document.toponyms.each{|toponym| %>
        <span class="ui orange  label">
        <%= toponym[:name] %>
        </span>
      <% } %>
    </p>

    <p>
      <strong>Privacy:</strong>
      <% document.privacies.each{|privacy| %>
        <span class="ui red label">
        <%= privacy[:name] %>
        </span>
      <% } %>
    </p>
<!-- Image viewer start-->
<div class="ui grid ">
  <table class="ui celled table three wide column">
    <thead>
      <tr><th>Name</th>
      <th>Age</th>
      <th>Pul</th>
    </tr></thead>
    <tbody>
     <% document.images.each_with_index do |file,i| %>
      <% if file.representable? %>
        <tr data-controller="get-image" >
          <td data-label="Name"><a href="#" class="ui column label" data-scene-target="loadPicture" data-get-image-file-param="<%=url_for file.variant(saver:{quality: 05}, rotate: 0 ) %>" data-action="get-image#inf"><%=i+1%> </a></td>
          <td data-label="Age"><%= link_to "Aç", file, "data-action": "get-image#inf", "data-get-image-file-param": file %></td>
          <td class="ui one wide column " data-label="Job"><%#= link_to image_tag(file.variant(resize_to_limit: [100, 100]), class:"ui rounded image"), file %></td>
        </tr> 
        <% else %>
          <%= link_to rails_blob_path(file, disposition: "attachment") do %>
            <%= image_tag "https://via.placeholder.com/150", alt: "Download file"  %>
          <% end %> 
        <% end %>
      <% end %>   
    </tbody>
  </table>
  <div data-controller="scene" class="twelve wide column">
    <img class="ui fluid image" id ="stage" src="http://placehold.jp/800x1100.png" />
    
  </div>
</div>
<!-- Image viewer end -->
  </div>
</div>  