<div class="" >
  <div id="<%= dom_id document %>">
    <p>
      <strong>Summary:</strong>
      <%= document.summary[..30]+"..." %>
    </p>

    <p>
      <strong>Pub type:</strong>
      <%= "#{document.pub_type_id} - #{document.pub_type.name}" %>
    </p>

    <p>
      <strong>Languages:</strong>      
      <% document.languages.each{|language| %>
        <span class="ui teal  label">
        <%= language[:name] %>
        </span>
      <% } %>      
    </p>

    <p>
      <strong>Organization:</strong>
      <% if document.organization_id %>
        <%= "#{ document.organization_id} - #{document.organization.name}" %>
      <% end %>
    </p>

    <p>
      <strong>Subject:</strong>
      <% document.subjects.each{|subject| %>
        <span class="ui teal tag label">
        <%= subject[:name] %>
        </span>
      <% } %>      
    </p>

    <p>
      <strong>DocumentTypes:</strong>
      <% document.document_types.each{|document_type| %>
        <span class="ui orange  label">
        <%= document_type[:name] %>
        </span>
      <% } %>  
    </p>

    <p>
      <strong>Toponyms:</strong>
      <% document.toponyms.each{|toponym| %>
        <span class="ui orange  label">
        <%= toponym[:name] %>
        </span>
      <% } %>
    </p>

    <p>
      <strong>Privacy:</strong>
      <% document.privacies.each{|privacy| %>
        <span class="ui red label">
        <%= privacy[:name] %>
        </span>
      <% } %>
    </p>
  </div>
</div>  