<%= form_with(model: document, class: "form ui") do |form| %>
  <% if document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :fond_id, style: "display: block" %>
    <%= form.collection_select :fond_id, Fond.all, :id, :to_s,{prompt: true}, {class: "ui fluid search selection dropdown"} %>
  </div>

  
  <div class="field">
  <%= link_to_add_nested(form, :special_numbers, '#special-number-items', link_classes:"ui button") %>
  </div>
    <div class=" ui inverted segment">
  <div id='special-number-items' class="">
    
      <%= form.fields_for :special_numbers do |special_number_f|%>
        <%= render 'special_number_fields', form: special_number_f %>        
      <% end %>
      </div>
    </div>
 

  <div class="four fields">
    <div class="field">
      <%= form.label :organization_code, style: "display: block" %>
      <%= form.text_field :organization_code %>      
    </div> 
   <div class="field">
    <%= form.label :box, style: "display: block" %>
    <%= form.number_field :box, {class: "ui input"} %>
    </div>

    <div class="field">
      <%= form.label :folder, style: "display: block" %>
      <%= form.number_field :folder, {class: "ui input"} %>
    </div>

    <div class="field">
      <%= form.label :order, style: "display: block" %>
      <%= form.number_field :order %>
    </div>
  </div>
  
  <div class="two fields">
    <div class="field">
      <%= form.label :starting_date, style: "display: block" %>
      <%= form.date_field :starting_date %>
    </div>

    <div class="field">
      <%= form.label :ending_date, style: "display: block" %>
      <%= form.date_field :ending_date %>
    </div>


  
  </div>
    

  <div class="field">
    <%= form.label :summary, style: "display: block" %>
    <%= form.text_area :summary%>
  </div>

  <div class="six fields">

    <div class="field">
      <%= form.label :pub_type_id, style: "display: block" %>
      <%= form.collection_select :pub_type_id, PubType.all, :id, :to_s, {prompt: true}, {class: "ui fluid search selection dropdown"} %>
    </div>

    <div class="field">
      <%= form.label :language_id, style: "display: block" %>      
      <%= form.collection_select :language_ids, Language.order( :name), :id, :to_s, {prompt: true}, {class: "ui fluid multiple search selection dropdown", multiple: ""} %>
    </div>


    <div class="field">
      <%= form.label :organization_id, style: "display: block" %>      
      <%= form.collection_select :organization_id, Organization.all, :id, :to_s, {prompt: true}, {class: "ui fluid search selection dropdown"} %>
    </div>

    <div class="field">
      <%= form.label :phisycal_status_id, style: "display: block" %>
      <%= form.collection_select :phisycal_status_id, PhisycalStatus.all, :id, :to_s, {prompt: true}, {class: "ui fluid search selection dropdown"} %>
      <div class="">
        <%= link_to "Add ", new_phisycal_status_path, class: "tiny ui positive button" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :document_type_id, style: "display: block" %>
      <%= form.collection_select :document_type_ids, DocumentType.order(:name), :id, :to_s, {prompt: true}, {class: "ui fluid multiple search selection dropdown", multiple: ""} %>
      <div class="">
        <%= link_to "Add ", new_document_type_path, class: "tiny ui positive button" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :toponym_id, style: "display: block" %>
      <%= form.collection_select :toponym_ids, Toponym.order(:name), :id, :to_s, {prompt: true}, {class: "ui fluid multiple search selection dropdown", multiple: ""} %>
      <div class="">
        <%= link_to "Add ", new_toponym_path, class: "tiny ui positive button" %>
      </div>
    </div>
  
  </div>

  <div class="field">
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.collection_select :subject_ids, Subject.order( :name), :id, :to_s, {prompt: true}, {class: "ui fluid multiple search selection dropdown", multiple: "", size: 10}%>
    
    <%#= form.collection_select :subject_ids, Subject.order( :name), :id, :to_s, {prompt: true}, 
    {data: {controller: "dropdown"}, class: "ui fluid multiple search selection dropdown", multiple: "", size: 10} %>    
  </div>
  <div data-controller="dropdown"></div>

  <div class="three fields">
    <div class="field">
      <%= form.label :privacy_id, style: "display: block" %>
      <%= form.collection_select :privacy_ids, Privacy.order(:name), :id, :to_s, {prompt: true}, {class: "ui fluid multiple search selection dropdown", multiple: ""} %>      
      <div class="">
        <%= link_to "Add ", new_privacy_path, class: "tiny ui positive button" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :person_id, style: "display: block" %>
      <%= form.collection_select :person_ids, Person.order(:name), :id, :to_s, {prompt: true}, {class: "ui fluid multiple search selection dropdown", multiple: ""} %>      
      <div class="">
        <%= link_to "Add ", new_person_path, class: "tiny ui positive button" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :explaination, style: "display: block" %>
      <%= form.text_area :explaination %>
    </div>


  </div>

  <%= form.file_field :images, multiple: true, direct_upload: true %>
  <% if @document.images.exists? %>
    <div class="ui seven column stackable grid">
    <% document.images.each do |attach| %>
      <%= form.hidden_field :images, value: attach.signed_id, multiple: true %>
      
      <div class="ui column fluid card">
        <div class="content">
          <%= link_to rails_blob_path(attach, disposition: "attachment"), class: "ui center aligned" do %>
            <div class="image"><%= image_tag attach.preview(resize_to_limit: [150, 150]).processed if attach.representable? %></div>
          <% end %>
          <div class="header">File name: <%=attach.filename%></div> 
          <div class="">
            <%= link_to 'Sil', delete_image_attachment_document_path(attach.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "ui bottom attached button"%>
          </div>
        </div>
      </div>   
    <% end %>
    </div>
  <% end %>

  <div data-controller="direct-upload"></div>

    <div class="ui form">
      <%= form.submit class: "ui primary button" %>
    </div>  
<% end %>
