<%= form_with(model: document) do |form| %>
  <% if document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :summary, style: "display: block" %>
    <%= form.text_area :summary %>
  </div>

  <div>
    <%= form.label :pub_type_id, style: "display: block" %>
    <%#= form.text_field :pub_type_id %>
    <%= form.collection_select :pub_type_id, PubType.all, :id, :to_s, prompt: true %>
  </div>

  <div>
    <%= form.label :language_id, style: "display: block" %>
    <%#= form.text_field :pub_type_id %>
    <%= form.collection_select :language_id, Language.all, :id, :to_s, prompt: true %>
  </div>

  <div>
    <%= form.label :organization_id, style: "display: block" %>
    <%#= form.text_field :pub_type_id %>
    <%= form.collection_select :organization_id, Organization.all, :id, :to_s, prompt: true %>
  </div>

  <div>
    <%= form.label :subject_id, style: "display: block" %>
    <%#= form.text_field :pub_type_id %>
    <%= form.collection_check_boxes :subject_ids, Subject.all, :id, :to_s, prompt: true %>
  </div>

  <div>
    <%= form.label :phisycal_status_id, style: "display: block" %>
    <%#= form.text_field :pub_type_id %>
    <%= form.collection_select :phisycal_status_id, PhisycalStatus.all, :id, :to_s, prompt: true %>
    <%= link_to "PhisycalStatus", controller: "phisycal_statuses", action: "new" %>
  </div>

  <div>
    <%= form.label :document_type_id, style: "display: block" %>
    <%#= form.text_field :pub_type_id %>
    <%= form.collection_select :document_type_id, DocumentType.all, :id, :to_s, prompt: true %>
    <%= link_to "DocumentType", controller: "document_types", action: "new" %>
  </div>

  <div>
    <%= form.label :toponym_id, style: "display: block" %>
    <%#= form.text_field :pub_type_id %>
    <%= form.collection_select :toponym_id, Toponym.all, :id, :to_s, prompt: true %>
    <%= link_to "Toponym", controller: "toponyms", action: "new" %>
  </div>
  
  <div>
    <%= form.label :privacy_id, style: "display: block" %>
    <%#= form.text_field :pub_type_id %>
    <%= form.collection_select :privacy_id, Privacy.all, :id, :to_s, prompt: true %>
    <%= link_to "Privacy", controller: "privacies", action: "new" %>
  </div>

  <div>
    <%= form.label :person_id, style: "display: block" %>
    <%#= form.text_field :pub_type_id %>
    <%= form.collection_select :person_id, Person.all, :id, :to_s, prompt: true %>
    <%= link_to "Person", controller: "people", action: "new" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
