<h1>Sistem Varlıkları</h1>
<div class="ui red segment">
<p><%= @users.name.pluralize %> : <%= @users.count %></p>
<p><%= @record_metadata.name.pluralize %> : <%= @record_metadata.count %></p>
<p><%= @fonds.name.pluralize %> : <%= @fonds.count %></p>
</div>

<div class="ui green segment">
<p><%= @people.name.pluralize %> : <%= @people.count %></p>
<p><%= @toponyms.name.pluralize %> : <%= @toponyms.count %></p>
<p><%= @organizations.name.pluralize %> : <%= @organizations.count %></p>
<p><%= @subjects.name.pluralize %> : <%= @subjects.count %></p>
</div>

<div class="ui yellow segment">
<p><%= @privacies.name.pluralize %> : <%= @privacies.count %></p>
<p><%= @languages.name.pluralize %> : <%= @languages.count %></p>
<p><%= @phisycal_statuses.name.pluralize %> : <%= @phisycal_statuses.count %></p>
<p><%= @document_types.name.pluralize %> : <%= @document_types.count %></p>
<p><%= @special_numbers.name.pluralize %> : <%= @special_numbers.count %></p>
<p><%= @num_types.name.pluralize %> : <%= @num_types.count %></p>


</div>
