<% @privacies.each do |privacy| %>

<tr>
  <td>
    <div class="ui right aligned"><%= link_to "#{privacy.id}", privacy %></div>
  </td>
  <td>
    <div class="ui aligned"><%= privacy.name%> </div>
  </td>
  <td>
    <div class="ui right aligned"><%= privacy.audits.last.audited_changes if privacy.audits.last %> </div>
  </td>
  <td>
    <div class="ui right aligned"><%= privacy.audits.count%> <span class="ui label"> Open?</span> </div>
  </td>
  
  <td class="right aligned">
    <div class="ui label" data-rating="3" data-max-rating="3">
    <%=l privacy.created_at, format: :long%></div>
  </td>

  <td class="right aligned ">
    <div class="ui label">
      <%=l privacy.updated_at, format: :long  %>
    </div>
  </td>
  <%= render "layouts/shared/actions", resource: privacy %>

</tr>
<% end %>