<p style="color: green"><%= notice %></p>

<h1>Privacies</h1>

<%= link_to t("new_privacy"), new_privacy_path, class: "ui button green segment" %>


<div id="privacies">
<table class="ui celled padded very compact table">  
   <thead>
    <tr><th class="single line">Id</th>
    <th><%= t :name %></th>    
    <th><%= t :created_at%></th>
    <th><%= t :updated_at%></th>
    
    <th><%= t :action%></th>
   </tr></thead>
  <tbody>  
    <%= render "privacies_table", class:"ui right floated pagination menu" %>
  </tbody>
    <tfoot>
      <tr><th colspan="8">
        <div class="segment">
        <%= paginate @privacies %>                
        </div>
      </th>
    </tr></tfoot>
  </table>
</div>