<p style="color: green"><%= notice %></p>

<div id="subjects">
<h1>Subjects</h1>
<p>
<%= link_to "New subject", new_subject_path, class:"ui small button teal" %>
</p>
  <table class="ui celled padded very compact table">  
    <thead>
      <tr><th class="single line">Id</th>
      <th><%= t :name %></th>    
      <th><%= t :created_at%></th>
      <th><%= t :updated_at%></th>
      
      <th><%= t :action%></th>
    </tr></thead>
    <tbody>  
      <%= render "subjects_table", class:"ui right floated pagination menu" %>
    </tbody>
      <tfoot>
      
        <tr><th colspan="8">
          <div class="segment">
          <%= paginate @subjects %>                
          </div>
        </th>
      </tr></tfoot>
   </table>
</div>