<%= render @subject %>
<%= link_to t("add"), new_subject_path, class: "ui small primary button" %> 
<div class="">
  <%= link_to t("edit"), edit_subject_path(@subject) %> 
  <%= button_to t("destroy"), @subject, method: :delete %>
  <%= link_to t("back"), subjects_path  %>
</div>
