<div class="ui centered grid">
<div class="ui  segment">
  <h2 class="ui header" >Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui  form  "}) do |f| %>
    
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <div class="ui checkbox">
          <%= f.check_box :remember_me, class:"hidden" %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>

    <div class="">
      <%= f.submit "Log in", class:"ui primary button" %>
    </div>
  <% end %>
  <br />
  <%= render "devise/shared/links" %>
</div>
</div>
