<div id="<%= dom_id fond %>">
  
  <div class="ui segment ">
  <h4> 
    <%= link_to fonds_path do %>
      <i class="home icon"></i>
    <% end %>
  <% pparent(fond).each do |f| %>
     / <%= link_to f %>
  <% end %>
  </h4>
  </div>
  
    <div class="ui secondary red segment">
      <h1 class="custom parent fond name"><%=t('parent_fond')%>:
      <% if fond.parent %>
        <%=link_to fond.parent, fond_path(fond.parent) %>
      <% else %>
        <%= t("has_no_parent") %>
      <% end %>
      </h1>
    </div>
  
  <div class="ui yellow segment">
    <h2 class=""><%=t('name')%>:
      <%= fond.name %>
    </h2>
    <p class=""><%=t('explanation')%>:
      <%= fond.explanation %>
    </p>
    <h3 class="custom children fond name"><%=t('children')%>:
      <% if fond.children.empty? %>
        <ul><%=t('has_no_children')%></ul>
      <% end %>
      <% fond.children.each do |child| %>
        <ul><%=link_to child.name, fond_path(child) %></ul>
      <% end %>
    </h3>
  </div >
  <%= search_form_for @q, url: fond_path(fond) do |f| %>
  <%= f.label :summary_cont %>
  <%= f.search_field :summary_cont %>
  <% end %>
  <div class="ui green segment">
    <h2 class=""><%=t('record_metadata')%></h2>
    <div class="ui divided list">
    <%# fond.record_metadata.each_with_index do |metadatum, index| %>
    <% @record_metadata.each_with_index do |metadatum, index| %>

    <div class="item">
      <div class="content">
        <%= link_to metadatum do %>
        <%= index+1 %> - 
        <i class="ui big folder icon"></i>
      <% end %> <%= metadatum.box %> / <%= metadatum.folder %> / <%= metadatum.order %> <%= metadatum.summary[..50] %>...
      </div>
    </div>

    <% end %>
    </div>
  </div >