<p style="color: green"><%= notice %></p>
<%= console %>
<h1><%= t('fonds') %></h1>
<% if policy(@fonds).create? %>
  <p>
  <%= link_to t("new_fond"), new_fond_path, class: "ui teal button small " %>
  </p>
<% end#unless %>
<%= search_form_for @q, class:"ui form" do |f| %>
  <div class="ui action input">
  <%= f.search_field :name_cont, class:"field", placeholder: :name_cont %>
  <%= f.button "Ara", class:"ui primary button"%>
  <% unless params[:q].nil? %>
    <%= link_to "Temizle", fonds_path,  class: "ui red button", method: :get %>
  <% end %>
  </div>
<% end %>
<p></p>
<% unless params[:q].nil? %>
  <div class="search-result-size"> <%= t(:founded_record_size) %>: 
    <span class="ui teal circular label">
    <%= @q.result.size %></span> 
  </div>
<% end %>

<!-- added new -->
<div id="fonds">
  <% unless @q.result.size == 0 %>
  <div class="ui pagination menu">
    <%= paginate @fonds %>
  </div>
  <table class="ui celled padded very compact table">
    <thead>

    
      <tr>
        <th class="single line">Id</th>
        <th><%= sort_link(@q, :name, t('fond_name')) %></th>
        <th><%= t("parent_fond") %></th>
        <th><%= t("child_fonds") %></th>
        <% if policy(@fonds).create?  || policy(@fonds).update?%>
          <th>Cildren Size</th>
          <th>Fond Depth</th>
          <th>Action</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "fond_table" %>
    </tbody>
    
  </table>
  <div class="ui pagination menu">
    <%= paginate @fonds %>
  </div>
  <% end %>
</div>
