<h1><%= t('fonds') %></h1>
<% if policy(@fonds).create? %>
  <p>
  <%= link_to t("new_fond"), new_fond_path, class: "ui teal button small " %>
  </p>
<% end#unless %>
<%= search_form_for @q, class:"ui form" do |f| %>
  <div class="ui action input">
    <%= f.search_field :name_cont, class:"field", placeholder: :name_cont %>
    <%= f.button "Ara", class:"ui primary button"%>
    
  <% unless params[:q].nil? %>
    <%= link_to "Temizle", fonds_path,  class: "ui red button", method: :get %>
  <% end %>
  </div>
  <div class="input">
  <%= check_box_tag "only_ancestors" %>
  </div>
<% end %>
<p></p>
<% unless params[:q].nil? %>
  <div class="search-result-size"> <%= t(:founded_record_size) %>: 
    <span class="ui teal circular label">
    <%= @q.result.size %></span> 
  </div>
<% end %>

<span class="ui teal circular label">
    <%= @q.result.size %></span> 

<!-- added new -->
<div id="fonds">
  <% unless @q.result.size == 0 %>
  
    <%= paginate @fonds %>
    <div class="ui celled equal width grid">
      <div class="row">
      <div class="column">
      <%= sort_link @q, :name do %> 
        <%= t :name %>
      <% end %>
      </div>
      <% if policy(:fond).edit? %>
        <div class="four wide column"><%= t :created_at %> </div>
        <div class="two wide column"><%= t :action %></div>
      <% end %>
      </div>
      <% @fonds.each do |fond| %>
      <div class="row">
        <%= link_to fond_path(fond), class: "column" do %>
          <div class="">
            <i class="big yellow folder icon"></i>
            <% if policy(:fond).edit? %>
            <span class="ui tiny basic   label">
              <%= "%03d" % fond.id %>
            </span>
            <% end %>
            <b class="ui text black">
              <%= fond.name %>
            </b>
          </div>
        <% end %>
        <% if policy(:fond).edit? %>
          <div class="four wide column"><%=l fond.created_at, format: :long %></div>
          <div class="two wide column"><%= render "layouts/shared/actions", resource: fond  %></div>
        <% end %>
      </div>
      <% end %>
    </div>
  <%= paginate @fonds %>
  <% end %>
</div>
