<p style="color: green"><%= notice %></p>

<%= render @fond %>
<div>
  <% if policy(@fond).create? %>
    <%= link_to "Add New Fond", new_fond_path%> |
  <% end %>
  <% if policy(@fond).update? %>
    <%= link_to "Edit this fond", edit_fond_path(@fond) %> |
  <% end %>
  <% if policy(@fond).destroy? %>
    <%= button_to t(:destroy), @fond, method: :delete %>
  <% end %>
  <%= link_to  fonds_path, class:"ui secondary button" do %>
  <i class="angle double left icon"></i> <%= t "fonds" %>
  <% end %>
</div>