<% @organizations.each do |organization| %>

<tr>
  <td>
    <div class="ui right aligned"><%= link_to "#{organization.id}", organization %></div>
  </td>
  <td>
    <div class="ui aligned"><%= organization.name%> </div>
  </td>
  

  <td class="right aligned">
    <div class="ui label" data-rating="3" data-max-rating="3">
    <%=organization.created_at.strftime("%d.%m.%Y %H.%M")%></div>
  </td>

  <td class="right aligned ">
    <div class="ui label">
      <%=organization.updated_at.strftime("%d.%m.%Y %H.%M")  %>
    </div>
  </td>

  <%= render "layouts/shared/actions", resource: organization %>
</tr>
<% end %>