<% @organizations.each do |organization| %>

<tr>
  <td>
    <div class="ui right aligned"><%= link_to "#{organization.id}", organization %></div>
  </td>
  <td>
    <div class="ui aligned"><%= organization.name%> </div>
  </td>
  

  <td class="right aligned">
    <div class="ui label" data-rating="3" data-max-rating="3">
    <%=organization.created_at.strftime("%d.%m.%Y %H.%M")%></div>
  </td>

  <td class="right aligned ">
    <div class="ui label">
      <%=organization.updated_at.strftime("%d.%m.%Y %H.%M")  %>
    </div>
  </td>

 
  <td class="collapsing">
    <span>
      <%= link_to  organization do %>
        <i class="large folder open icon "></i>
      <% end %>
    </span>
    <span>
      <%= link_to  edit_organization_path organization.id do %>
        <i class="large orange edit icon "></i>
      <% end %>
    </span>
    <span>    
        <%= link_to organization ,  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  do %>      
          <i class="red large remove icon "></i>
        <% end %>
    </span>
  
  </td>
</tr>
<% end %>