<p style="color: green"><%= notice %></p>
<%#= console%>
<h1>Users</h1>
<p>
  <%= link_to "New User", new_admin_user_path, class: "ui teal button small"  %>
</p>
<%= search_form_for @q, url: admin_users_path, class:"ui form" do |f| %>
  <div class="ui action input">
  <%= f.search_field :email_cont, class:"field", placeholder: :email_cont %>
  <%= f.button "Ara", class:"ui primary button"%>
  <% unless params[:q].nil? %>
    <%= link_to "Temizle", admin_users_path,  class: "ui red button", method: :get %>
  <% end %>
  </div>
<% end %>
<p></p>

<% unless params[:q].nil? %>
  <div class="search-result-size">Found users: <span class="ui teal circular label">
    <%= @q.result.size  %></span> 
  </div>
<% end %>
<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
<%== pagy_nav(@pagy) %>
<%== pagy_info(@pagy) %>

<%#= paginate @users %>
<p></p>
<div id="users">
  <table class="ui celled padded very compact table">
    <thead>
      <tr><th class="single line">Id</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>current_sign_in_at</th>
      <th>last_sign_in_at</th>
      <th>sign_in_count</th>
      <th>Action</th>
    </tr></thead>
    <tbody>
      
        <%= render partial: "users_table", locals: {users: @users} %>
      
    </tbody>
  </table>
  <%#= paginate @users %>
</div>