<h2>New user form</h2>

<%= form_with(model: [:admin, @user], class: "ui form") do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :email %><br />    
    <%= form.text_field :email %> <br />
  </div>
  <div class="field">
    <%= form.label :password %><br />    
    <%= form.password_field :password %> <br />
  </div>
  <div class="field">
    <%= form.label :password_confirmation %><br />    
    <%= form.password_field :password_confirmation %> <br />
  </div>

 <div class="field">
    <%= form.label :role %><br />    
    <%= form.select :role, User.roles.map{|k,v| [k.humanize,k]}, {},  data: {controller: "dropdown"}, class: "ui dropdown" %> <br />
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to users", admin_users_path %>
</div>

<%= link_to "Back", :back %>