<h1><%=@user.fullname %></h1>
<h2>Superadmin? <span class="ui green label"><%= @user.superadmin? %></span></h2>
<h3> Email: <%= @user.email %></h2>
<h3>Role: <span class="ui red label"><%= @user.role%></span></h3>
<p> <b>Joined at:</b> <%= @user.created_at%></p>
<p> <b>Sign in count:</b> <%= @user.sign_in_count%></p>
<p> <b>Last sign in at:</b> <%= @user.last_sign_in_at%></p>
<p> <b>Current sign in IP:</b> <%= @user.current_sign_in_ip%></p>
<p> <b>Last sign in IP:</b> <%= @user.last_sign_in_ip%></p>
<p> <b>Locked at:</b> <%= @user.locked_at%></p>
<p>
</p>

  <div>
    <% if policy(@user).record_submissions? %> 
      <%=link_to "Show user submissions", record_submissions_admin_user_path(@user) %>|
    <% end # if%>
    <% if policy(@user).activities? %> 
      <%=link_to "Show user activity", activities_admin_user_path(@user) %> |
    <% end # if %>
    
    <%=link_to "Show user collections", users_collections_admin_user_path(@user) %> | 
    <%= link_to "Edit this user", edit_admin_user_path(@user) %> |
    <% if policy(@user).index? %> 
      <%= link_to "Back to users", admin_users_path, "data-turbo-frame": "_top" %> 
    <% end # if %>
    <%= button_to "Destroy this user", admin_user_path(@user), method: :delete, form: {data:{ turbo_confirm: "Are you sure?" }} %>
  </div>


