<!DOCTYPE html>
<html>
  <head>
    <title>Archivist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>

  <!--Menu -->
    <div class="ui small inverted menu">
      <%= link_to root_path, class: is_page_active?(root_path) do%>
      <i class="big home icon"></i>
      <% end %>
      <a class="item">
        Messages
      </a>
      <div class="right menu">
        <div class="ui dropdown item">
          Language <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">English</a>
            <a class="item">Russian</a>
            <a class="item">Spanish</a>
          </div>
        </div>        
        <div class="item">
        <% if current_user.nil? %>
          <%= link_to "Sign In", new_user_session_path, class: "ui primary button" %>
        <% else %>
          <div class="item">
            <%#=current_user.email %>
          <%= link_to  current_user.email, edit_user_registration_path %>
          </div>
          <div class="item"><%= link_to "My Activity", activities_admin_user_path(current_user) %></div>
          <div class="ui dropdown item">
            <%= link_to vacations_url do %>
             Vacation <i class="calendar alternate icon"></i>
            <% end %> 
          </div>
          <div class="item">
            <%= link_to "Sign Out", destroy_user_session_path, data: {"turbo-method": :delete}, class: "ui primary button" %>
          </div>
        <% end %>
          </div>
      </div>
    </div>
  <!--Menu -->
  <div class="ui grid">
  <% if current_user %>
  <div class="ui vertical menu three wide column">
    <%= link_to "Home", root_path, class: is_page_active?(root_path)%>
  
    <%= link_to (admin_users_url) , class: is_page_active?(admin_users_url) do %>
    <%= "user".pluralize.titleize %>
      <div class="ui teal left pointing label"><%= User.all.size %></div>
    <% end %>

    <%= link_to (fonds_url) , class: is_page_active?(fonds_url) do %>
    <%= t("fond").titleize %>
      <div class="ui teal left pointing label"><%= Fond.all.size %></div>
    <% end %>
    
    <%#= link_to (documents_url) , class: is_page_active?(documents_url) do %>
    <%#= "document".pluralize.titleize %>
    <%# end %>

    <%= link_to (record_metadata_url) , class: is_page_active?(record_metadata_url) do %>
    <%= t("record_metadata").titleize %>
      <div class="ui teal left pointing label"><%= RecordMetadatum.all.size %></div>
    <% end %>
  
    <%= link_to (privacies_url) , class: is_page_active?(privacies_url) do %>
    <%= t("privacy").titleize %>
      <div class="ui teal left pointing label"><%= Privacy.all.size %></div>
    <% end %>
    
    <%= link_to (people_url), class: is_page_active?(people_url) do %>
    <%= "person".pluralize.titleize %>
      <div class="ui teal left pointing label"><%= Person.all.size %></div>
    <% end %>

    <%= link_to (toponyms_url), class: is_page_active?(toponyms_path) do %>
    <%= t :toponyms %>
      <div class="ui teal left pointing label"><%= Toponym.all.size %></div>
    <% end %>

    <%= link_to (organizations_url), class: is_page_active?(organizations_url) do %>
    <%= t :organizations %>
      <div class="ui teal left pointing label"><%= Organization.all.size %></div>
    <% end %>

    <%= link_to (document_types_url), class: is_page_active?(document_types_url) do %>
    <%= "document type".pluralize.titleize %>
      <div class="ui teal left pointing label"><%= DocumentType.all.size %></div>
    <% end %>

    <%= link_to (phisycal_statuses_url), class: is_page_active?(phisycal_statuses_url) do %>
    <%= "phisycal status".pluralize.titleize %>
      <div class="ui teal left pointing label"><%= PhisycalStatus.all.size %></div>
    <% end %>

    <%= link_to (subjects_url), class: is_page_active?(subjects_url) do %>
    <%= "subject".pluralize.titleize %>
      <div class="ui teal left pointing label"><%= Subject.all.size %></div>
    <% end %>
 
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search mail...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
    <% end %>
      <div class="ui container twelve wide column">
        <%= render "layouts/shared/notice", locals: {notice: notice, alert: alert} %> 
        <%= yield %>
        <%= turbo_frame_tag "modal" %>
      </div>
    </div> <!--ui grid-->
    <%= console %>
  </body>
</html>
