<!DOCTYPE html>
<html>
  <head>
    <title>Archivist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="pushable" >
    <% if current_user && policy(:menu).show? %> <!-- policy begin -->
      <div class="ui sidebar inverted vertical menu">
        <%= render "layouts/shared/sidebar" %>
      </div>
    <% end %> <!-- end of policy -->
    <%= render "layouts/shared/top_menu" %>
    <div class="pusher">
      <div class="ui container">
        <%= render "layouts/shared/notice", locals: {notice: notice, alert: alert} %> 
          <%= yield %>
        <%= turbo_frame_tag "modal" %>
      </div>
    </div>
  </body>
</html>
